.toggle .header {
    display: block;
    clear: both;
    padding-top: -10px;
    padding-bottom: 20px;
}

.toggle .header:after {
    content: " ▼";
}

.toggle .header.open:after {
    content: " ▲";
}

/* Custom colors */

.wy-side-nav-search, .wy-nav-top { /* above navigation, behind logo */
    background: #e7cee4; 
}

.icon.icon-home { /* link above logo */
    color: #8e4585;
}

.version { /* version spec under logo */
    color: #8e4585 !important;
}

.highlight { /* code blocks */
    background: #faf7fa;
} 

.admonition-title { /* notes, title */
    background: #8e4585 !important; 
}

.admonition { /* notes */
    background: #e7cee4 !important;
}

html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple)>dt { /* class definitions */
    border-top: solid 3px #00c895;
    background: #e6f5f1;
    color: black;
}
