#cc-banner {
    .chefcookie__buttons {
        a.context {
            background-color: #007bb1;
            font-size: inherit;
            &:focus,
            &:hover {
                background-color: #00587e;
                border-color: #002d41;
            }
        }
    }
}
